{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Productivity Table -->
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1> Weekly History</h1>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-8 offset-md-2">
          <!-- Weekly Summary-->
          {% for week in weeks %}
          <div>
            <div class="row mb-2">
            <h3 class="col-10">{{ week.monday|date:"M d" }} – {{ week.sunday|date:"M d, y" }}</h3>
            <button onclick="showWeeklyTable('{{week.monday}}')" class="col-1 btn custom-button-primary">+</button>
            </div>
            <table class="table table-borderless custom-update-table">
              <thead>
                    <tr>
                        <th scope="col">Update</th>
                        <th scope="col">Target</th>
                        <th scope="col">Delivered</th>
                    </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="week-estimated-update">{{week.update}}</td>
                  <td>{{week.target}}</td>
                  <td>{{week.total_credits}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Daily Breakdown of week above, stays hidden until expand btn is pressed -->
          <div id="week-{{week.monday}}-breakdown" style="display: none;">
            <table class="table custom-table mb-4">
              <thead class="table custom-table-head">
                <tr>
                  <th>Day</th>
                  <th>Completed Jobs</th>
                </tr>
              </thead>
              <tbody>
              {% for day, jobs in week.jobs_by_day.items %}
                <tr>
                  <td><strong>{{ day }}</strong></td>
                  <td>
                  {% if jobs %}
                    <ul>
                      {% for job in jobs %}
                      <li>{{ job }}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                  <p><em>No jobs completed</em></p>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
           {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
{% block extras %}
<script>
  function showWeeklyTable(id) {
    var table = document.getElementById(`week-${id}-breakdown`);
    if (table.style.display === "none") {
      table.style.display = "block";
    } else{
      table.style.display = "none";
    }
  }
</script>
{% endblock %}

