{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Productivity Table -->
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1> Weekly History</h1>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
          <!-- Weekly Summary-->
          {% for week in weeks %}
          {% if user.is_authenticated %}
          <div>
            <div class="row align-items-center mb-2">
              <div class="col-10">
                <h5>{{ week.monday|date:"M d" }} – {{ week.sunday|date:"M d, y" }}</h5>
              </div>
              <div class="col-2 ">
                <button onclick="showWeeklyTable('{{week.monday|date:"DdmY"}}')" id="toggle-btn-{{week.monday|date:'DdmY'}}" class="btn custom-button-secondary py-1">▼</button>
              </div>
            </div>
            <table class="table table-borderless custom-update-table">
              <thead>
                    <tr>
                        <th scope="col">Update</th>
                        <th scope="col">Target</th>
                        <th scope="col">Delivered</th>
                    </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="">{{week.update}}</td>
                  <td>{{week.target}}</td>
                  <td>{{week.total_credits}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Daily Breakdown of week above, stays hidden until expand btn is pressed -->
          <div id="week-{{week.monday|date:'DdmY'}}-breakdown" style="display: none;">
            <table class="table custom-table mb-4">
              <thead class="table custom-table-head">
                <tr>
                  <th>Day</th>
                  <th>Completed Jobs</th>
                </tr>
              </thead>
              <tbody>
              {% for day, jobs in week.jobs_by_day.items %}
                <tr>
                  <td><strong>{{ day }}</strong></td>
                  <td>
                  {% if jobs %}
                    <ul>
                      {% for job in jobs %}
                      <li>{{ job }}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                  <p><em>No jobs completed</em></p>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          {% endfor %}
        </div>
    </div>
    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}
{% block extras %}
<script>
  function showWeeklyTable(id) {
    var table = document.getElementById(`week-${id}-breakdown`);
    var button = document.getElementById(`toggle-btn-${id}`);

    if (table.style.display === "none") {
      table.style.display = "block";
      button.textContent ="▲";
      button.classList.remove("custom-button-secondary");
      button.classList.add("custom-button-primary");
    } else{
      table.style.display = "none";
      button.textContent = "▼";
      button.classList.remove("custom-button-primary");
      button.classList.add("custom-button-secondary");
    }
  }
</script>
{% endblock %}
