{% extends "base.html" %}

{% block content %}
<!-- About Us / Home -->
<div id="hero">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-12">
                <h1> A Smarter Way to Manage Your Work</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p class="lead">
                    Welcome to CTrack, a simple but powerful tool designed to help you stay on top of your work schedule
                    and
                    goals.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h2>Steps</h2>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-12 col-md-6 my-2">
            <p class="rich-text"><strong class="lead">Create an account</strong><br>In the register page create
                an account by filling the Sign Up form.</p>
        </div>
        <div class="col-sm-12 col-md-6 my-2">
            <p class="rich-text"><strong class="lead">Adjust your settings</strong><br> Once logged in, modify your
                daily target, weekly hours and rostered days off in the Profile section.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 my-2">
            <p class="rich-text"><strong class="lead">Record absences</strong><br> Log any absences in the absence
                page so your target is reduced accordingly. (Meetings, van maintenance, sickness, holidays...)</p>
        </div>
        <div class="col-sm-12 col-md-6 my-2">
            <p class="rich-text"><strong class="lead">Track your performance</strong><br> Submit every job
                completed for each day in the Tracker section. These jobs are saved and can be modified or deleted in the job history section.
            </p>
        </div>
    </div>
</div>
<div class="container text-center my-4">
    <div class="row">
        <div class="col-12">
            <p id="goal-text" class="rich-text">
                The goal is to make work tracking straightforward — no more spreadsheets, no more guesswork. Just a
                clean
                view of your schedule, your targets, and your progress. <br>
                Whether you’re reviewing your performance or planning ahead, CTrack gives you the clarity you need to
                stay
                on target.
            </p>
        </div>
    </div>
</div>
{% endblock content %}